@use '../../colors';

.button {
  appearance: none;
  height: 3rem;
  padding: 0 1rem;
  margin-top: 3.5rem;

  border: none;
  color: colors.$egg;

  font-family: 'Jost', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: .05ch;
  text-transform: uppercase;

  cursor: pointer;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: .5rem;

  &.primary {
    background: colors.$red;
  }

  &.secondary {
    background: mix(colors.$black, colors.$egg, 93%);

    transition: background-color .2s ease;

    &:hover {
      background: mix(colors.$black, colors.$egg, 80%);
    }
  }
}
