@use '../../colors';

.guesses {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  max-width: 32rem;

  &:has(.guess) {
    margin-bottom: 1rem;
  }

  .guess {
    padding: .5rem .8rem .5rem 1rem;

    background: colors.$egg;
    color: colors.$black;
    font-weight: 500;

    display: flex;
    align-items: center;
    gap: .5rem;

    &:last-child {
      svg {
        fill: colors.$red
      }
    }

    &.answer {
      background: colors.$black;
      border: 2px solid transparentize(colors.$egg, .9);
      color: colors.$egg;
    }
  }
}
