@use '../../colors';

.header {
  width: 100%;
  $header-height: 4rem;
  height: $header-height;
  border-bottom: 1px solid #3A3A3C;
  background: colors.$egg;
  color: colors.$black;
  font-weight: 500;
  padding: 0 2rem;

  box-sizing: border-box;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;

  :first-child {
    justify-self: start;
  }

  :last-child {
    justify-self: end;
  }

  h1 {
    line-height: 1;
    margin: 0;

    font-family: 'Konstruktor', serif;

    position: relative;
    top: .15em;

    .commie {
      color: colors.$red;
    }

    img {
      height: $header-height;
    }
  }

  .group {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .profanityCount {
    background: transparentize(white, .9);
    border-radius: .5rem;
    padding: 0 .5rem;

    display: flex;
    gap: .3rem;
  }

  .profanityIcon {
    height: 1.5rem
  }

  a, button {
    color: inherit;
    font-size: 1.5rem;

    display: flex;
    align-items: center;
  }

  .donate {
    appearance: none;
    background: none;
    border: 2px solid transparentize(colors.$black, .8);
    font-size: 1rem;
    font-family: 'Jost', sans-serif;

    display: flex;
    flex-direction: row;
    gap: .5rem;

    padding: .3rem 1rem;
    cursor: pointer;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  background: transparentize(black, .8);
  backdrop-filter: blur(1px);
}

.modalKoFi {
  position: fixed;
  top: 4rem + 1rem;
  right: 1rem;

  .iframe {
    height: 570px;
    width: 340px;
    padding: 0;

    border: 1px solid transparentize(colors.$black, 0);
    border-radius: 14px;
    box-shadow: 0 0 40px transparentize(black, 0);
    background: #f9f9f9;
  }
}
