@use '../modal.common';
@use '../../colors';

.trigger {
  appearance: none;
  border: none;
  background: none;
  cursor: pointer;

  position: relative;
  top: .05rem;

  svg {
    > * {
      $added-thicc: 20px;

      &:first-child {
        stroke-width: 40px + $added-thicc;
      }

      &:last-child {
        stroke-width: $added-thicc * .5;
        stroke-linejoin: miter;
        stroke: colors.$black;
        transform: translateY($added-thicc);
      }
    }
  }
}

.modal {
  h2, .emphasized {
    font-family: 'Konstruktor', serif;
    font-size: 3rem;
    font-weight: 400;
    text-align: center;
    margin: 0 0 1rem;
    padding: 1rem;
    height: 2.2rem;

    color: colors.$egg;
    background: colors.$red;
  }

  .emphasized {
    font-size: 2rem;
    text-transform: uppercase;
    margin: 1rem 0 0 0;
  }

  h3, ol, p {
    margin: 0 0 0 1rem;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
  }

  h3 {
    font-size: 1.5rem;
    font-weight: 700;
  }

  ol {
    padding-inline-start: 1.5rem;
  }
}
