@use '../modal.common';
@use '../../colors';

.modal {
  background: colors.$black;
  color: colors.$egg;
  box-shadow: 0 0 8rem transparentize(black, 0);

  .close {
    background: colors.$black;
  }

  .inlineImage {
    height: 1.8em;
    vertical-align: middle;
  }

  h2 {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    letter-spacing: .1ch;
    line-height: 1;
    text-transform: uppercase;
    margin: 0 0 .6rem;
    padding: 1rem;

    color: colors.$egg;
    background: colors.$red;
  }

  small {
    font-size: .7rem;
    letter-spacing: .05ch;
    opacity: .7;
  }

  h3, p, small {
    margin: 0 0 0 1rem;
    font-weight: 400;
    line-height: 1.5;
  }

  h3, p {
    font-size: 1rem;
  }

  h3 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: .5rem;
  }

  > :last-child {
    margin-bottom: 1rem;
  }
}
